<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Join Our Discord!</h2>
                <hr class="light">
                <p class="text-faded">Stay informed and up-to-date by joining our Discord community for the latest news and updates on new game servers and updates to existing ones.</p>
                <a href="https://discord.gg/WumBzwv" class="btn btn-default btn-xl">Discord</a>
            </div>
        </div>
    </div>
</section>
